################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Schibsted.DataAccess.Repositories/obj/Debug
/Schibsted.DataAccess.Core/obj/Debug
/Schibsted.DataAccess.Contracts/obj/Debug
/Schibsted.Crosscutting.Ioc/obj/Debug
/Schibsted.Crosscutting.Entities/obj/Debug
/Schibsted.Crosscutting.Commons/obj/Debug
/Schibsted.Business.Core/obj/Debug
/Schibsted.Business.Contracts/obj/Debug
/Schibsted.Business.Contracts/bin/Debug
/Schibsted.Business.Core/bin/Debug
/Schibsted.Crosscutting.Commons/bin/Debug
/Schibsted.Crosscutting.Entities/bin/Debug
/Schibsted.Crosscutting.Ioc/bin/Debug
/Schibsted.Crosscutting.Security/bin/Debug
/Schibsted.Crosscutting.Security/obj/Debug
/Schibsted.DataAccess.Contracts/bin/Debug
/Schibsted.DataAccess.Repositories/bin/Debug/Schibsted.DataAccess.Repositories.pdb
/Schibsted.DataAccess.Repositories/bin/Debug/Schibsted.Crosscutting.Commons.pdb
*.dll
*.pdb
/Schibsted.Presentation.Mvc.UI/bin
/Schibsted.Presentation.Mvc.UI/obj/Debug
*.user
/packages
/Schibsted.Infrastructure.Contracts/obj/Debug
/Schibsted.Infrastructure.Repositories/obj/Debug
/Schibsted.Infrastructure.Security/bin/Debug
/Schibsted.Infrastructure.Security/obj/Debug
