@model Schibsted.Crosscutting.Entities.User
<div class="row">
    <div class="col-md-8">
        <section id="userName">
            @Html.Label(string.Format("Hello {0}", Model.Name))
        </section>
    </div>
</div>